{# templates/contact/index.html.twig #}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!</h1>
    <p>This contact message is coming from:</p>
    {% if contactMessage %}
        <div>
            <strong>Message Body:</strong> {{ contactMessage.getBodyMessage }}
        </div>
    {% else %}
        <p>No contact message found.</p>
    {% endif %}
</div>
